@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%)
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Red: hsl(0, 100%, 66%);
}   


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;

}

box{
    min-height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.hidden{
    display:none !important;
}

.container{
    display:flex;
    align-items:center;
    
}

.cards-section{
    min-height:100vh;
    width: 40%;
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.cards{
    display:flex;
    flex-direction:column;
    gap:2rem;
    position:absolute;
    left:90%;
    top:50%;
    transform:translate(-50%,-50%);
    
    
}

.front-card{
    position:relative;
    transform: translateX(-100px);

}

.card-logo{
    position:absolute;
    left:2rem;
    top:1rem;
}

#number{
    color: var(--White);
    letter-spacing:2px;
    position: absolute;
    bottom:5rem;
    left:2rem;
    font-size:25px;
}

.card-info{
    color: var(--White);
    position: absolute;
    letter-spacing:1.5px;
    left: 2rem;
    right:2rem;
    bottom:2rem;
    display:flex;
    justify-content: space-between;
}

.back-card{
    position:relative;
}

#cvc{
    color:var(--Light-grayish-violet);
    position:absolute;
    top: 7rem;
    right:3.5rem;
}

.form-section{
    display:flex;
    align-items:center;
    justify-content:center;
    width:80%;
}

.form-section form{
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:160px;
}

.block-1{
    display:flex;
    flex-direction:column;
}

label[for="input-name"] {
    color:hsl(278, 68%, 11%);
    letter-spacing:2px;
    font-size:12px;    
  }

.block-2{
    display:flex;
    flex-direction:column;
}

label[for="input-number"] {
    color:hsl(278, 68%, 11%);
    letter-spacing:2px;
    font-size:12px;
  }

.block-3{
    display:flex;
    gap:1rem;
}
label[for="input-cvc"] {
    color:hsl(278, 68%, 11%);
    letter-spacing:2px;
    font-size:12px;
  }

.date-block{
    display:flex;
    flex-direction: column;
}
label[for="date-block"] {
    color:hsl(278, 68%, 11%);
    letter-spacing:2px;
    font-size:12px;
  }

.date-block .two-boxes-input{
    display:flex;
}

.date-block div input{
    width:70px;
    margin-inline:0.4rem;
    margin-left: 0;
}

.cvc-block{
    display:flex;
    flex-direction: column;
}

#input-cvc{
    width:168px;
}

#name{
    text-transform:uppercase;
}

form button{
    font-size:18px;
    background-color: hsl(278, 68%, 11%);
    color: var(--White);
    height: 50px;
    border-radius:6px;
    cursor:pointer;
    width:335px;
}

label{
    color: var(--Very-dark-violet);
    margin-bottom:0.3rem;
    text-transform: uppercase;
}

input{
    padding:0.5rem;
    font-size:14px;
    border: 1px solid ;
    border-radius:6px;
    width:210%;
    border-color:hsl(270, 3%, 87%)
}

input::placeholder{
    font-family: inherit;
    color: hsl(279, 6%, 55%)
}

input:focus{
    outline-color: hsl(249%, 99%, 64%);  
}

.thank-you{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:1.5rem;
    width:360px;
}

.thank-you h1{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.thank-you p{
    color: var(--Dark-grayish-violet);
    font-size:18px;
}

.thank-you button{
    font-size:18px;
    background-color: hsl(278, 68%, 11%);
    color: var(--White);
    height: 50px;
    width:100%;
    border-radius:6px;
    cursor:pointer;
}

@media screen and (max-width: 1023px){
    .front-card .card-container img, .front-card img, .back-card img, back-card{
        width:300px;
    }

    .form-section
    {
        width:65%;
    }

    .card-logo {
        display:none;
    }

    #number{
        font-size: 1rem;
    }

    #cvc{
        top:42%;
        right:12%
    }    
}